body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

.section-title{
  font-family: 'Roboto', sans-serif;
  color: #ff5500;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.header, .footer {
  background-color: #003366;
  color: #fff;
  padding: 20px;
}

#home img {
  animation: moveUpDown 5s infinite;
}

#footer li {
  list-style-type: none;
}
#header .active {
  color:  #ff5500;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}